.home-wrap {
  .bg1 {
    position: relative;
    width: 360px;
    height: 343px;

    @include setBackground('~@/assets/img/bg1.png');
    .banner {
      position: absolute;
      width: 286px;
      height: 78px;
      left: 50%;
      top: 25px;
      transform: translateX(-50%);
      @include setBackground('~@/assets/img/banner.png');
    }
  }
  .bg2 {
    position: fixed;
    bottom: -130px;
    width: 360px;
    height: 502px;

    @include setBackground('~@/assets/img/bg2.png');
    .rivers {
      position: absolute;
      top: 0;
      width: 360px;
      height: 138px;
      transform: translateY(-70px);

      @include setBackground('~@/assets/img/rivers.png');
    }
    .trunk {
      position: absolute;
      top: 120px;
      width: 360px;
      height: 156px;

      @include setBackground('~@/assets/img/trunk.png');
      .fire {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 116px;
        height: 120px;
        .bomb-wrap {
          color: var(--rotate);
          animation: rotate 3s infinite linear;
          .bomb {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 102px;
            height: 118px;
            transform: translate(-50%, -100%);

            @include setBackground('~@/assets/img/barrel.png');
            i {
              position: absolute;
              top: 0;
              left: 50%;
              display: block;
              width: 10px;
              height: 10px;
              background-color: yellow;
            }
          }
        }
        .fire-ico {
          width: 116px;
          height: 120px;
          position: absolute;
          left: 0;
          top: 0;
          @include setBackground('~@/assets/img/fire-ico.png');
        }
      }
    }
  }

  .pool {
    position: fixed;
    bottom: 0;
    width: 360px;
    height: 97px;

    @include setBackground('~@/assets/img/bottom-pool.png');
  }
  .grass {
    position: fixed;
    bottom: 0;
    width: 360px;
    height: 85px;
    transform: translateY(-80%);

    @include setBackground('~@/assets/img/grass.png');
  }
}
