@import '@/styles/constant.scss';
@import '@/styles/main.scss';

/* 响应式布局 - 小于 540px */
@media screen and (max-width: 540px) {
  .padding {
    padding: 20px 10px !important;
  }
}

.padding {
  overflow: hidden;
  padding: 30px;
  border: 1px solid $theme-color4;
  border-radius: 5px;
  background: $theme-color6;
}
