@import '@/styles/constant.scss';
@import '@/styles/mixin.scss';

.index-wrap {
  .item {
    // width: 100%;
    display: flex;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    .left {
      width: 300px;
      height: 200px;
      .head_img {
        height: 200px;
        line-height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .right {
      .title {
      }
      .tag-list {
        .tag {
          margin: 0 4px;
        }
      }
      .summary {
      }
      .date {
      }
    }
  }
}
