@import '@/styles/constant.scss';
@import '@/styles/mixin.scss';

.collapse-wrap {
  overflow: hidden;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid $theme-color4;
  border-radius: 5px;
  background: $theme-color6;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      margin: 8px 0;
    }
    .ico-wrap {
      width: 20px;
      height: 20px;
      transform: translateY(2px);
      cursor: pointer;
      .ico {
        transition: all 0.3s ease;
        transform: rotate(0deg);
        &.down {
          transform: rotate(180deg);
        }
      }
    }
  }
  .content {
    transition: height 0.5s ease;
    height: 100%;
    .item {
      margin-bottom: 4px;
    }
  }
}
