@import '@/styles/constant.scss';
@import '@/styles/main.scss';

/* 响应式布局,大于540px */
@media screen and (min-width: 540px) {
  .show {
    transform: translateY(-70px);
  }
}
.dark {
  .fix-type-wrapper {
    background: $theme-color3;
  }
}
.fix-type-wrapper {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid $theme-color4;
  background-color: $theme-color6;
  .type-wrapper {
    margin: 0 auto;
    padding: 0;
    height: 40px;
    color: $theme-color1;
    line-height: 40px;
    li {
      display: inline;
      margin-right: 8px;
      cursor: pointer;
    }
  }
}
.show {
  transition: all 0.5s;
  transform: translateY(-70px);
}
